
.app-header {
    padding-left: 32px;
}

// .answer {
//     width: 150px;
//     line-height: 60px;
//     background: red;
//     color: white;
//     border-radius: 16px;
//     text-align: center;
//     vertical-align: middle;
// }

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 150px;
    height: 60px;
    color: white;
    background: red;
    border-radius: 32px;
    cursor: pointer;
}